.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: 2em;
  color: white;
  margin-bottom: 5vh;
  padding: 0.25em;
  padding-left: 5vh;
}

.App-header>p {
  padding-right: 5vh;
  margin: 0.3em;
}

.App-subheader {
  font-size: 2em;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 1vh;
  padding-left: 5vh;
}

.App-link {
  color: #61dafb;
}

.basic-line {
  stroke: #8884d8;
}

.basic-grid {
  stroke: #ccc;
}

div .intended {
  padding-left: 3em;
}

h1, h2, h3 {
  font-weight: normal;
  padding-left: 2vh;
}

h2 {
  padding-left: 4vh;
}

h3 {
  padding-left: 6vh;
}

.Header-button {
  background-color: #282c34;
  font-size: 1em;
  color: white;
  padding-right: 1em;
  padding-left: 1em;
  border: #757575 1px solid;
  border-radius: 0.25em;
  margin-left: 0.25em;
  font-size: smaller;
}

.Header-button:hover {
  color: #282c34;
  background-color: white;
}