.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: 2em;
  color: white;
  margin-bottom: 5vh;
  padding: 0.25em;
  padding-left: 5vh;
}

.App-header>p {
  padding-right: 5vh;
  margin: 0.3em;
}

.App-subheader {
  font-size: 2em;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 1vh;
  padding-left: 5vh;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1em;
  color: #636c80;
  margin-top: 5vh;
  padding: 2vh;
  padding-right: 6.5vh;
}

.App-link {
  color: #61dafb;
}

.basic-line {
  stroke: #8884d8;
}

.basic-grid {
  stroke: #ccc;
}

div .intended {
  padding-left: 2vh;
}

.intendedChart {
  padding-left: 4vh;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 {
  padding-left: 2vh;
}

h3 {
  padding-left: 4vh;
}

.Header-button {
  background-color: #282c34;
  color: white;
  padding-right: 1em;
  padding-left: 1em;
  border: #757575 1px solid;
  border-radius: 0.25em;
  margin-left: 0.25em;
  font-size: medium;
  font-weight: lighter;
}

.Header-button:hover {
  color: #282c34;
  background-color: white;
}

.hoverable path:hover {
  pointer-events: all;
  stroke: #757575;
}

.fit-row {
  display: flex;
  margin: auto;
  margin-right: 0;
}

.partial-border::after {
  content: "";
  display: block;
  border-bottom: 0.5px solid lightgrey;
  padding-bottom: 1.2em;
  width: 73%;
  margin-left: 4vh;
}

#showGradesButton {
  min-width: 10em;
  display: block;
  border: none;
  font-family: inherit;
  font-size: unset;
  padding: 10px;
}

svg {
  width: 97.6%;
  height: 98%;
}

.view {
  width: 90%;
  margin: auto;
  padding-right: 2%;
}
