.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  padding-left: 5vh;
}

.App-subheader {
  font-size: 2em;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 1vh;
  padding-left: 5vh;
}

.App-link {
  color: #61dafb;
}

.basic-line {
  stroke: #8884d8;
}

.basic-grid {
  stroke: #ccc;
}

div .intended {
  padding-left: 3em;
}